<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>847047929311-ibked2hj6k5263b55bcjfnpiemrbpans.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.847047929311-ibked2hj6k5263b55bcjfnpiemrbpans</string>
	<key>API_KEY</key>
	<string>AIzaSyCg_UnWRVDg0JbBTiIlRpPAwAOtAO04BbA</string>
	<key>GCM_SENDER_ID</key>
	<string>847047929311</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.citizenhealth.humantiv</string>
	<key>PROJECT_ID</key>
	<string>health-score-6740b</string>
	<key>STORAGE_BUCKET</key>
	<string>health-score-6740b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:847047929311:ios:134ce5db346cc9e6</string>
	<key>DATABASE_URL</key>
	<string>https://health-score-6740b.firebaseio.com</string>
</dict>
</plist>